@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

#toggle:checked ~ label span.toggle-dot {
  @apply translate-x-5;
}

#toggle:focus ~ label span.toggle-dot{
  @apply ring ring-violet-light;
}

.checkbox:checked ~ span {
  @apply bg-violet-dark;
}
.checkbox:focus ~ span {
  @apply ring ring-violet-light;
}

.checkbox:checked ~ span svg {
  @apply flex;
}

@tailwind components;
@tailwind utilities;
